/* reset */

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Georgia', serif;
    text-align: center;
    overflow: hidden;
    background-image: url("./skunk_no_bg-1300-700.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

/* header */

header a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

header h1 {
    padding: 1vh 0;
    font-size: 32px;
    font-style: italic;
    font-family: 'Black Han Sans', sans-serif;
    transform: skewX(-10deg);
}

header a:hover {
    text-shadow: 5px 0 #fddb3a;
    text-shadow: -5px 0 #fddb3a;
    text-shadow: 0 5px #fddb3a;
    text-shadow: 0 -5px #fddb3a;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header input {
    display: none;
}

header label {
    margin: 0 30px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

header input:checked+label {
    font-style: italic;
    font-weight: bold;
}

header label:hover {
    font-style: italic;
}

/* main */

section {
    background-color: transparent;
}

section div {
    width: 95%;
    height: 25vh;
    margin: 3vh auto;
    padding: 2vh;
    background-color: transparent;
    border: 2px solid black;
    font-size: 16px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#example {
    margin: 0;
    padding: 0;
}

#answer {
    width: 95%;
    height: 25vh;
    margin: 3vh auto;
    padding: 2vh;
    background-color: transparent;
    border: 2px solid black;
    overflow: auto;
    font-size: 16px;
    text-align: center;
    font-family: 'Georgia', serif;
}

/* footer */

footer {
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .result {
    margin: 0 3vw;
}

footer p {
    margin-top: 0;
    margin-bottom: 1vh;
}

.name {
    font-weight: bold;
}

.value {
    font-style: italic;
}